
body {
  position: relative;
}

.App {
  text-align: center;
  background-color: #efefef;
  min-height: 100vh;
}

.App-header {
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #27DAC6;
}

.logo {
  height: 70px;
  width: 150px;
  margin: 0 30px;
}

.logo-farmacias {
  height: 70px;
  width: 270px;
}

.App-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #27DAC6;
}